################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp.vcxproj.user
/Temp.vcxproj.filters
/Temp.vcxproj
/Temp.sln
/Debug
/.vs/Temp/v16
