################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/temp.vcxproj.user
/temp.vcxproj.filters
/temp.vcxproj
/temp.sln
/.vs
/Debug
